* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin    : 0;
  background: #f9f9f9 !important;
}

.fw100 {
  font-weight: 100;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw700 {
  font-weight: 700;
}

.fw900 {
  font-weight: 900;
}

.loading {
  position  : fixed;
  background: rgba(0, 0, 0, .1);
  width     : 100%;
  height    : 100%;
  left      : 0px;
  top       : 0px;
  display   : flex;
}

.loading:after {
  content      : '';
  width        : 100px;
  height       : 100px;
  display      : flex;
  margin       : auto;
  animation    : rotate linear 1.5s infinite;
  border       : 10px solid #ececec;
  border-bottom: 10px solid #494949;
  border-radius: 50%;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}


.cus_card {
  cursor             : pointer;
  height             : auto;
  position           : relative;
  margin-bottom      : 30px;
  overflow           : hidden;
  background-size    : 1000%;
  background-repeat  : no-repeat;
  background-position: 100% 100%;
}

.cus_card .char_name {
  font-size     : 20px;
  width         : 10px;
  height        : 10px;
  position      : absolute;
  left          : 10px;
  bottom        : -5px;
  white-space   : nowrap;
  transform     : rotate(-90deg);
  text-transform: uppercase;
  color         : #f9f9f9;
  z-index       : 9;
}

.cus_card .char_name::first-letter {
  font-size: 22px;
  color    : #f90;
}



.cus_card:after,
.cus_card:before {
  content   : '';
  width     : 50%;
  background: rgba(0, 0, 0, 0.55);
  position  : absolute;
  top       : 0px;
  height    : 100%;

}

.cus_card:after {
  left: -100%
}

.cus_card:before {
  right: -100%
}

.cus_card:hover:after {
  left      : -0%;
  transition: linear 0.3s;
}

.cus_card:hover:before {
  right     : -0%;
  transition: linear 0.3s;
}

.cus_card:hover .card_body {
  top       : 0;
  transition: linear 0.1s;
}

.cus_card:hover .card_body_in>h5,
.cus_card:hover .card_text h6,
.cus_card:hover .card_text ul {
  top: 0px;
}


.card_img {
  background: url('https://i.stack.imgur.com/h6viz.gif') no-repeat center 50%;
  height    : 300px;
  overflow  : hidden;
  display   : flex;
}

.cus_card img {
  display: flex;
  margin : auto;
  width  : 100%;
}

.cus_card .card_body {
  padding       : 10px;
  position      : absolute;
  left          : 0px;
  top           : 100%;
  width         : 100%;
  height        : 100%;
  display       : flex;
  flex-direction: column;
  color         : #fff;
  z-index       : 2;

}

.card_body_in {
  display        : flex;
  flex-direction : column;
  margin         : auto;
  justify-content: center;
  align-items    : center;
  text-align     : center;
}

.card_body>.card_body_in>h5 {
  font-size : 18px;
  padding   : 10px 0;
  position  : relative;
  top       : 50px;
  transition: linear 0.7s;
}

.card_text h6 {
  position  : relative;
  top       : 80px;
  transition: linear 0.4s;
}

.card_text ul {
  padding   : 0 0 0 0px;
  margin    : 0px;
  list-style: none;
  position  : relative;
  top       : 100px;
  transition: linear 0.5s;
}

.card_text ul li {
  font-style   : italic;
  font-size    : 12px;
  margin-bottom: 5px;
}


@media(max-width:767px) {
  .card_img {
    max-height: 200px;
    overflow  : hidden;
  }

  .cus_card {
    margin-left  : -12px;
    margin-right : -12px;
    margin-bottom: 5px;
  }

  .cus_card .char_name {
    font-size: 12px;
    left     : 5px;
  }

  .cus_card .card_body {
    padding: 10px 25px;
  }
}